name: simplified_unidirectional_dataflow
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.5.4

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.2
  ioc_container: ^1.0.12

dev_dependencies:
  austerity: ^1.2.0
  flutter_lints: ^4.0.0
  flutter_test:
    sdk: flutter



flutter:
  uses-material-design: true
